.menu {
    background:dimgrey;
    width: 70px;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    color: darkgrey;
    position: fixed;
}

.logo {
    fill: darkgrey;
    height: 50px;
    width: 50px;
    margin-bottom: -12px;
    overflow: visible;
}


.logo-text {
    font-style: italic;
    font-weight: bold;
    font-size:25px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.button {
    fill: darkgrey;
    height: 40px;
    width: 40px;
    margin: 15px;
    overflow: visible;
    
}

.button:hover {
    cursor: pointer;
    stroke: lightgrey;
    stroke-width: 5%;
}

.text:hover {
    cursor: pointer;
    color: lightgrey;
}

.max {

}