/* You can add global styles to this file, and also import other style files */

html {
    background: #14171A;
    color: whitesmoke;
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}