/* You can add global styles to this file, and also import other style files */

html {
    background: #14171A;
    color: whitesmoke;
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.toEdge {
    width: 100%;
    margin: -8px 0 8px -8px;
    padding: 0 16px 0 0;
}
