<div class="body toEdge">
    <div class="header">
        <h1>Welcome to Hero-DB</h1>
            <p>Here you can search our vast database of characters, cast and crew 
            <br/>from your favorite superhero movies and television series</p>
        <button routerLink="/search" routerLinkActive="active">Search</button>
    </div>
</div>

<h1 class="container toEdge">Featured Films</h1>
<div class="container toEdge">
    <div class="content-card" *ngFor="let movie of movies"
    [routerLink]="['/search/movie', movie.release_date | date:'MYYYY', toUrl(movie.title)]" routerLinkActive="active">
        <h1> {{movie.title}}</h1>
        <p>Directed by {{movie.name}}
            <br/>Released {{movie.release_date | date:'mediumDate'}}
        </p>
    </div>
</div>

<h1 class="container toEdge">Featured Show: {{episodes[0].title}}</h1>
<div class="container toEdge">
    <div class="content-card" *ngFor="let episode of episodes"
        [routerLink]="['/search/show', episode.release_date | date:'MYYYY', toUrl(episode.title), episode.episode]" routerLinkActive="active">
        <h1> {{episode.episode_title}}</h1>
        <p>Episode {{episode.episode}}
            <br/>Directed by {{episode.name}}</p>
    </div>
</div>